body{
background-color: #ECC77A;
}

#notLoggedIn {
    padding:50px;
    margin:auto;
    margin-top:150px;
    width:200px;
    align: center;
    vertical-align:center;
    /*background-color: #E5B040;*/
    drop-box:5px;
    border-radius:5px;

                /* the following code for a Color Gradient  was found at w3schools.com and is friggin awesome */
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red, blue); /* Standard syntax (must be last) E5B040 */
    box-shadow: 0px 10px 20px;
}
#loggedIn{
    padding:25px;
    margin:auto;
    margin-top:150px;
    width: 40%;
    min-width:350px;
    width
    align: center;
    vertical-align:center;
    drop-box:5px;
    border-radius:5px;
    box-shadow: 0px 10px 20px;

             /* the following Gradient coding is the same as above and was found at w3schools.com */
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #FF7E1A, #FEAA26); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #FF7E1A, #FEAA26); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #FF7E1A, #FEAA26); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #FF7E1A, #FEAA26); /* Standard syntax (must be last) E5B040 */

}

#photos{
   padding:25px;
   margin:auto;
   width:auto;
   align: center;
   vertical-align:center;
   drop-box:5px;
   border-radius:5px;
}


.button{
    background-color: #4CAF50;

}